*~
__pycache__
ABOUT-NLS
Makefile
Makefile*in
aclocal.m4
compile
config.guess
config.h.in
config.rpath
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
test-driver
/autom4te.cache
/build*
/m4/*.m4
/po*/*.gmo
/po*/*.pot
/po*/Makevars.template
/po*/Rules-quot
/po*/boldquot.sed
/po*/en@*.header
/po*/insert-header.sin
/po*/quot.sed
/po*/remove-potcdate.sin
/prefix*
/subprojects/*/
/target*
